body{
    background-color: rgba(19, 192, 97, 0.767);
    text-align: center;
    width: 70%;
    margin: auto;
}

.icoon{
    width: 15%;
}

a{
    color: rgb(255, 0, 221);
}

p{
    font-size: 1.3vw;
}

h1{
    font-size: 2vw;
}

h2{
    font-size: 1.6vw;
}

.border{
    border: 1px solid black;
    border-radius: 2vw;
}